@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*---------------------------*/
body {
  background-color: #FAEBD7;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
}

.game {
  padding-top: 50px;
}
.game h1 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 50px;
  color: #FF4500;
}
.game p, .game__win {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FF4500;
}
.game__win {
  font-size: 32px;
}
.game__player {
  margin-left: 20px;
  font-weight: 500;
  font-size: 34px;
}
.game button {
  display: block;
  margin: 0 auto 40px;
  width: 100%;
  max-width: 200px;
  padding: 10px 15px;
  border-radius: 30px;
  border: 1px solid #FF4500;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #FF4500;
  color: #FAEBD7;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.game button:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.game button:active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  background-color: #FF7F50;
  border-color: #FF7F50;
}
.game__cells {
  width: 450px;
  height: 450px;
  margin: 0 auto;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
  grid-template-rows: repeat(3, 1fr);
}
.game__cells > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.game__cells > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.game__cells > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.game__cells > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.game__cells > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.game__cells > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
.game__cells > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.game__cells > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}
.game__cells > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.cell {
  width: 150px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 150px;
}
.cell:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}
.cell:nth-child(1), .cell:nth-child(2), .cell:nth-child(3), .cell:nth-child(4), .cell:nth-child(5), .cell:nth-child(6) {
  border-bottom: 2px solid #FF4500;
}
.cell:nth-child(1), .cell:nth-child(4), .cell:nth-child(7) {
  border-right: 2px solid #FF4500;
}
.cell:nth-child(3), .cell:nth-child(6), .cell:nth-child(9) {
  border-left: 2px solid #FF4500;
}

.cell__x, .x {
  color: #FF4500;
}

.cell__o, .o {
  color: #808000;
}

.line__horizontal, .line__vertical, .line__diagLeft, .line__diagRight {
  position: relative;
}
.line__horizontal::before, .line__vertical::before, .line__diagLeft::before, .line__diagRight::before {
  content: "";
  position: absolute;
  background-color: #DAA520;
  -webkit-transition: all 10s ease-in-out;
  transition: all 10s ease-in-out;
}
.line__horizontal::before {
  top: 47%;
  left: 0;
  width: 100%;
  height: 10px;
}
.line__vertical::before {
  top: 0;
  left: 47%;
  width: 10px;
  height: 100%;
}
.line__diagLeft::before {
  top: 0;
  left: 0;
  width: 10px;
  height: 635px;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(-44.5deg);
          transform: rotate(-44.5deg);
}
.line__diagRight::before {
  top: 0;
  right: 0;
  width: 10px;
  height: 630px;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: rotate(44.4deg);
          transform: rotate(44.4deg);
}